@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
code{
    font-family: source-code-pro,Menlo,Monaco,Consolas,'Courier New', monospace;
}
.logo
{
    width:5rem;
    height:5rem;
    border-radius: 50px;
    background-size:cover;
    margin:auto;
    padding: 10px;
}

.fieldsLogo
{
    width:4rem;
    height:4rem;
    border-radius: 50px;
    background-size:cover;
    margin:auto;
    padding: 10px;
}

div
{
    display: inline;
}

.imageAndField
{
    display: flex;
    justify-content: center;
}

.accountQuestion
{
    margin: 10px 0px 10px 0px;
}